.header {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    background: #282a2b;
    margin-bottom: 20px;
}
.header a > h1 {
    font-weight: 400;
    margin: 0;
    color: white;
    text-transform: capitalize;
}

.header a > .activeLink{
    color: #81e012;
}

.header a {
    text-decoration: none;
    margin: 10px;
}

.verticalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.ctrlContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.containerRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.containerLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.containerSpread{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.marginRight20{
    margin-right: 20px;
}

.marginRight10{
    margin-right: 10px;
}

.marginRight20{
    margin-right: 20px;
}

.iconText{
    font-size: 18px !important;
}
