.header {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    background: #282a2b;
    margin-bottom: 20px;
}
.header a > h1 {
    font-weight: 400;
    margin: 0;
    color: white;
    text-transform: capitalize;
}

.header a > .activeLink{
    color: #81e012;
}

.header a {
    text-decoration: none;
    margin: 10px;
}

.verticalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.ctrlContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.containerRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.containerLeft{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.containerSpread{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.marginRight20{
    margin-right: 20px;
}

.marginLeft20{
    margin-left: 20px;
}

.marginLeft10{
    margin-left: 10px;
}

.marginRight10{
    margin-right: 10px;
}

.marginRight20{
    margin-right: 20px;
}

.marginTop50{
    margin-top: 40px !important;
}

.marginTop10{
    margin-top: 10px !important;
}

.marginBottom10{
    margin-bottom: 10px;
}

.iconText{
    font-size: 18px !important;
}

.textField{
    width: 70%
}

.multLineTextField{
    max-width: inherit;
    width: 70%
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formButton{
    max-width: 200px;
    margin: 10px 50px;
}

.formCard{
    padding: 20px 0;
    margin: 20px 0;
}

.maxWidth300 {
    width: 300px;
}